<?xml version="1.0"?>

<launch>

    <include file="$(find hector_turtlebot_gazebo)/launch/start_in_sick_robot_day_2014_world.launch" />
    <!--<include file="$(find hector_turtlebot_navigation)/launch/hector_mapping.launch" />-->

    <include file="$(find sickrobot_2014_launch)/launch/bring_up_common.launch" />

    <!--
    We don´t need octomap, so don´t use it for now (SK)
    <include file="$(find hector_octomap_server)/launch/octomap_server_hector_ugv.launch" />
    -->
</launch>
