<?xml version="1.0"?>

<launch>
  
  <node name="digit_detection_python" pkg="hector_digit_detection_python" type="digits.py" respawn="true" output="screen">
     <remap from="camera" to="/camera/rgb/image_raw"/>
    <!--<remap from="camera" to="/openni/rgb/image_raw"/>-->
    <remap from="digit_percept" to="/worldmodel/image_percept"/>
    <param name="img_path" value="$(find hector_digit_detection_python)/data" />

  </node>
 </launch>

