<?xml version="1.0"?>

<launch>

  <node name="plane_detection" pkg="sickrobot_2014_plane_detection" type="sickrobot_2014_plane_detection_node" respawn="true" output="screen">

    <param name="wall_distance" value=" 2" />
    <param name="plane_height" value=" 0.250" />
    <remap from="camera" to="/camera/rgb/image_raw"/>
    <remap from="camera_info" to="/camera/rgb/camera_info"/>
    <remap from="depth_points" to="/camera/depth/points"/>

    <remap from="pose_percept" to="/worldmodel/pose_percept"/>
  </node>

</launch>
